In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('Dataset 1.csv')
data.head(3)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000

In [4]:
x=data.iloc[:,1:2].values
y=data.iloc[:,2:3].values

In [8]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()